@(elements: helper.FieldElements)

<div class="@if(elements.hasErrors) {error}">
    @defining(elements.field.value) { value =>
    <textarea class="form-input" name="@elements.id" cols="80" rows="11" required>@if(value != None){@value.get}</textarea>
    }
</div>