@(opinionForm:Form[Opinion])

@helper.form(action = routes.AdminVintageDesign.postOpinion, 'enctype -> "multipart/form-data") {
    @helper.inputText(opinionForm("name"))
    @helper.inputText(opinionForm("text"))
    <input type="file" name="photoUpload">
<p><input type="submit" value="Отправить"></p>
}

