@(form:Form[Order])

@main {
@header("contacts")

<article>
    <div class="karta-bg-color">
        <div class="container">
            <div class="grid-12">
                <h2>Как нас найти</h2>

                <div class="karta">
                    <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=ztC21pd6rLbh-gPY8GYnDFj1VObAQ_C2"></script>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-bg-color">
        <div class="container">
            <div class="grid-12">
                <div class="contact">
                    <div class="col3">
                        <div class="item">
                            <i class="fa fa-envelope-o"></i>

                            <p>vintagedesign&#x0040mail.ru</p>
                        </div>
                        <div class="item">
                            <i class="fa fa-mobile"></i>

                            <p>+7 (927) 362-40-02</p>
                        </div>
                        <div class="item">
                            <i class="fa fa-map-marker"></i>

                            <p>г.Пенза, ул. Театральный проезд 1</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @orderForm("Связяться с нами", form)
</article>
}