@(categorySeq: Seq[Category])

@main {
@header("gallery")
<article>
    <div class="article-border">
        <div class="container">
            <div class="grid-12">
                <div class="gallery">
                    <div class="col3">

                        @Option(categorySeq).map { categories =>
                        @categories.map { category =>
                        <div class="item">
                            <div class="gallery-img cl-effect-10">
                                <a href="@routes.VintageDesign.galleryItem(category.name)" data-hover="@category.name">
                                    <img src="@routes.Assets.at("images/category/" + category.photo)">
                                    <h3>@category.name</h3>
                                </a>
                            </div>
                        </div>
                        }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
}