@(category: Category, descriptions:Seq[String], orderMirrors:Seq[OrderMirror])

@main {
@header("")
<article>
    <div class="article-border">
        <div class="container">
            <div class="grid-12">
                <div class="gallery">
                    <div class="gallery-text">
                        <h2>@category.name</h2>
                        @Option(descriptions).map { paragraphs =>
                        @paragraphs.map { paragraph =>
                            <p>@paragraph</p>
                        }
                        }

                    </div>
                    <div class="col5">
                        @for(orderMirror <- orderMirrors) {
                        <div class="item">
                            <div class="gallery-img cl-effect-10">
                                <a href="@routes.Assets.at("images/orderMirror/" + orderMirror.photo)" data-lightbox="roadtrip" data-hover="@orderMirror.name">
                                    <img src="@routes.Assets.at("images/orderMirror/" + orderMirror.photo)">
                                    <h3>@orderMirror.name</h3>
                                </a>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
}