@(page:String)

<header class="top">
    <div class="container">
        <div class="grid-12">
            <nav class="menu">
                <a class="logo" href="@routes.VintageDesign.index()"><img class="bg" src="@routes.Assets.at("stylesheets/img/logo.png")"></a>
                <ul class="main-menu">
                    @getActive(name:String) = {
                        @if(page.equals(name)) {
                            class="active"
                        }
                    }

                    <li @getActive("main")><a href="@routes.VintageDesign.index()">Главная</a></li>
                    <li @getActive("about")><a href="@routes.VintageDesign.about()">О нас</a></li>
                    <li @getActive("gallery")><a href="@routes.VintageDesign.gallery()">Галерея</a></li>
                    <li @getActive("storage")><a href="@routes.VintageDesign.storage()">В наличии</a></li>
                    <li @getActive("contacts")><a href="@routes.VintageDesign.contacts()">Контакты</a></li>
                    <li class="btn-zakaz"><a href="@routes.VintageDesign.order()">Заказать</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>