<div class="contacts">
    <div class="container">
        <div class="grid-12">
            <div class="col2">
                <div class="item">
                    <div class="karta">
                        <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=ztC21pd6rLbh-gPY8GYnDFj1VObAQ_C2"></script>
                    </div>
                </div>
                <div class="item">
                    <ul>
                        <li><i class="fa fa-map-marker"></i>Адрес: г.Пенза, ул. Театральный проезд 1</li>
                        <li><i class="fa fa-phone"></i>Контактный телефон: +7 (927) 362-40-02</li>
                        <li><i class="fa fa-at"></i>E-mail: vintagedesign&#x0040mail.ru</li>
                    </ul>
                    <div class="icons">
                        <a href="http://vk.com/mirror58"><img src="@routes.Assets.at("stylesheets/img/icon-1.png")"></a>
                        <a href=""><img src="@routes.Assets.at("stylesheets/img/icon-2.png")"></a>
                        <a href=""><img src="@routes.Assets.at("stylesheets/img/icon-3.png")"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>