@(orderForm:Form[Order])

@import views.form.ModalOrderFieldConstructorHelper._

<div class="button-center">
    <button class="bt" data-toggle="modal" data-target="#myModal">Заказать</button>
</div>

<div class="modal @if(!orderForm.hasErrors){ fade }" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Заказать</h4>
            </div>
            <div class="modal-body">
                @helper.form(action = routes.VintageDesign.orderPost) {
                    <p class="p-form">Ваше имя:* </p>
                    @helper.inputText(orderForm("name"))(handler = requiredField, implicitly[Lang])
                    <p class="p-form">Ваш телефон:* </p>
                    @helper.inputText(orderForm("phone"))(handler = requiredField, implicitly[Lang])
                    <p class="p-form">Ваш e-mail: </p>
                    @helper.inputText(orderForm("email"))
                    <p class="p-form">Поле для текста:* </p>
                    @helper.inputText(orderForm("text"))(handler = textAreaConstructor, implicitly[Lang])
                    <p class="form-info">* - поля обязательные для заполнения</p>
                    <input class="bt" type="submit" value="Отправить">
                }
            </div>
        </div>
    </div>
</div>

@if(orderForm.hasErrors) {
<script type="text/javascript">
        $(window).load(function(){
            $('#myModal').modal('show');
        });
    </script>
}