@(title:String, orderForm:Form[Order], messageSent:Boolean = false)

@import views.form.OrderFieldConstructorHelper._

<div class="form-bg-color">
    <div class="container">
        <div class="grid-12">
            <h2>@title</h2>
            @helper.form(action = routes.VintageDesign.orderPost) {
            <div class="col2">
                <div class="item">
                    <p class="p-form">Ваше имя:* </p>
                    @helper.inputText(orderForm("name"))(handler = requiredField, implicitly[Lang])
                    <p class="p-form">Ваш телефон:* </p>
                    @helper.inputText(orderForm("phone"))(handler = requiredField, implicitly[Lang])
                    <p class="p-form">Ваш e-mail: </p>
                    @helper.inputText(orderForm("email"))
                </div>
                <div class="item">
                    <p class="p-form">Поле для текста:* </p>
                    @helper.inputText(orderForm("text"), 'cols -> "80", 'rows -> "11")(handler = textAreaConstructor, implicitly[Lang])
                </div>
            </div>
            <p class="form-info">* - поля обязательные для заполнения</p>
            @if(messageSent) {
                <p class="success">Ваше сообщение отправлено</p>
            } else {
                <p><input class="bt" type="submit" value="Отправить"></p>
            }
            }
        </div>
    </div>
</div>