@(mirrorSeq:Seq[Mirror], mirrorsPhotos:List[List[String]], orderForm:Form[Order])

@main{
@header("storage")
<article>
    <div class="article-border">
        <div class="container">
            <div class="grid-12">
                <div class="gallery">
                    <div class="gallery-text">
                        <h2>Зеркала в наличии</h2>
                        <p>В этом разделе представлены зеркала, которые есть в наличии.</p>
                    </div>

                            @Option(mirrorSeq).map { mirrors =>
                            @mirrors.map { mirror =>

                    @defining(mirrors.indexOf(mirror)) { mirrorIndex =>

                    @if(mirrorIndex % 2 == 0) {
                         <div class="gallery-img-sclad">
                             <div class="col4">
                    }
                            @defining(mirrorsPhotos(mirrorIndex)) { mirrorPhotos =>
                            <div class="item">
                                <a href="@routes.Assets.at("images/mirrors/" + mirrorPhotos(0))" data-lightbox="roadtrip"><img src="@routes.Assets.at("images/mirrors/" + mirrorPhotos(0))"></a>
                                <div class="col3">
                                    @for(i <- 1 to mirrorPhotos.length - 1) {
                                    <div class="item">
                                        <a href="@routes.Assets.at("images/mirrors/" + mirrorPhotos(i))" data-lightbox="roadtrip"><img src="@routes.Assets.at("images/mirrors/" + mirrorPhotos(i))"></a>
                                    </div>
                                    }
                                </div>
                            </div>
                                 }

                            <div class="item">
                                <h3>@mirror.name</h3>
                                <p>@mirror.description</p>
                                @modalOrderForm(orderForm)
                            </div>


                            @if(mirrorIndex % 2 == 1) {
                                 </div>
                            </div>
                            }

                            }
                            }
                            }

                </div>
            </div>
        </div>
    </div>
    </div>
</article>
}